@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

header {
    background-color: #8a2be2;
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.logo {
    max-width: 45px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.logo:hover {
    animation: girando 1s ease-in-out 0s infinite alternate;
}

@keyframes girando {
    from {
        transform: rotate(30deg);
    }
    to {
        transform: rotate(-30deg);
    }
}

h1 {
    font-family: "Special Elite", cursive;
    color: white;
    font-size: 72px;
    margin-top: 25px;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}


.container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.left, .right {
    flex: 1;
    box-sizing: border-box;
}

.left {
    padding-right: 20px;
}

.right {
    padding-left: 20px;
}

.left {
    font-size: x-large;
}

.left h2 {
    font-family: "Special Elite", cursive;
    color: #8a2be2;
    margin-top: 25px;
    font-size: 52px;
}

.left iframe {
    width: 1100px;
    height: 550px;
}

.right .atomo-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 20px auto;
    scale: 70%;
    position: relative;
    top: -90px;
}

p {
    color: white;
}

.button {
    background-color: #f9c72d;
    color: #1a1a1a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.circle {
    width: 100%;
    max-width: 650px;
    height: auto;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 112px;
    margin-top: 60px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    align-items: center;
    border-top: thick double #ffffff ;
}

.integrantes {
    text-align: center;
}

.atomo-image:active {
    animation: pulando 0.6s ease-in-out;
}

@keyframes pulando {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.2) translateY(30px);
    }
    75% {
        transform: scale(0.8) translateY(-30px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

@media all and (max-width: 768px) {
    header {
        padding: 20px 0;
        
    }

    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .left iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .right .atomo-image {
        max-width: 100%;
        width: auto;
        height: auto;

    }

    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .integrantes {
        margin-top: 10px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    li a {
        font-size: 16px;
    }
    .menu ul {
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
        border-bottom: 1px solid white;
        padding: 10px 0;
    }

    .menu li:last-child {
        border-bottom: none;
    }
}


.thomson-image{
    max-width:30%;  
    padding: 5%;
    border-radius:20%;
    margin-right: 60%;
}

.eletron-image{
    max-width:60%;  
}
.dalton{
    height: 725px;
    width: 725px;
    padding-top: 125px;
}
