body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}
header {
    background-color: #8a2be2;
    height: 56px;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 70% 10%;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.logo  {
    max-width: 45px;
    border-radius: 50%;
    justify-self: center;
}

.logo:hover {
    animation: girando 1s ease-in-out 0s infinite alternate;
}

@keyframes girando {
    from {
        transform: rotate(30deg);
      }
      to {
        transform: rotate(-30deg);
      }
}

h1 {
    font-family: "Special Elite", cursive;
    color: white;
    font-size: 72px;
    margin-top: 25px;
}
ol{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0; 
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}
li {
    align-self: center;
    color: white;  
}

li a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.container {
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.left {
    width: 50%;
    display: inline;
    font-size: x-large;
    
}

.left h2 {
    font-family: "Special Elite", cursive;
    color: #8a2be2;
    margin-top: 25px;
    font-size: 45px;
}

.right {
    width: 50%;
    display: inline;
    text-align: center;
}

p {
    color: white;
}
.button {
    background-color: #f9c72d;
    color: #1a1a1a;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.atomo-image {
    max-width: 80%;
}
.circle {
    width: 650px;
    height: 650px;
    border-radius: 50%;
    margin: 50px;
    display: inline-block;
    padding: auto;
}

footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 112px;
    margin-top: 60px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    align-items: center;
    border-top: thick double #ffffff ;
}

.integrantes {
    text-align: center;
}

.atomo-image:active {
  animation: pulando 0.6s ease-in-out ;
}

@keyframes pulando {
    0% {
        transform: scale(1) translateY(0);
    }
    50% {
        transform: scale(1.2) translateY(30px);
    }
    75% {
        transform: scale(0.8) translateY(-30px);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

@media all and (max-width: 1200px) {
    .circle {
        scale: 80%;
        position: relative;
        top: -65px;
}
}
